.filter {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.filter select {
  padding: 5px;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid black;
  background-color: whitesmoke;
}

.filter button {
  padding: 5px;
  border: solid black 2px;
  border-radius: 30px;
  margin: 5px;
}

.filter button:hover {
  background-color: rgb(150, 144, 144);
}
